/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
  width 100%

.sidebar-group a.sidebar-link
    font-weight: bold;

.sidebar-sub-headers a.sidebar-link
    font-weight: normal;
